<meta charset="{{ site.site.charset }}">
<meta name="viewport" content="{{ site.site.viewport }}">
<meta name="robots" content="{{ site.site.robots }}">
<link rel="profile" href="{{ site.site.profile_url }}">

<title>{% block title %}{{ site.site.title_default }}{% endblock %}</title>
<meta name="description" content="{% block meta_description %}Fabricación y confección de bolsas de papel sustentables, lisas y personalizadas en Garín, Buenos Aires.{% endblock %}">

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="{{ url_for('static', path='/images/favicon.svg') }}">

<!-- Canonical Link -->
<link rel="canonical" href="https://www.madypack.com.ar{{ request.url.path }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.madypack.com.ar{{ request.url.path }}">
<meta property="og:title" content="{% block og_title %}{{ site.site.title_default }}{% endblock %}">
<meta property="og:description" content="{% block og_description %}Fabricación y confección de bolsas de papel sustentables, lisas y personalizadas en Garín, Buenos Aires.{% endblock %}">
<meta property="og:image" content="https://www.madypack.com.ar{{ url_for('static', path='/images/logo-madypack.svg') }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.madypack.com.ar{{ request.url.path }}">
<meta property="twitter:title" content="{% block twitter_title %}{{ site.site.title_default }}{% endblock %}">
<meta property="twitter:description" content="{% block twitter_description %}Fabricación y confección de bolsas de papel sustentables, lisas y personalizadas en Garín, Buenos Aires.{% endblock %}">
<meta property="twitter:image" content="https://www.madypack.com.ar{{ url_for('static', path='/images/logo-madypack.svg') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500;600;700&display=swap">

<link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
